@import url('page.css');
@import url('page__perview.css');
@import url('page__link.css');

body{
	display: flex;
	flex-flow: column nowrap;
	margin:0px;
	padding:0px 20px;
	min-height:100vh;
	background-color: #FDD835;
	color:#333;
	font-family: Roboto, sans-serif;
}
@media (max-width: 800px) { 

	body{
	height:auto;
}